.flex-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}


body {
    display: flex; /* Use flexbox layout for body */
    flex-direction: row;
    justify-content: center; /* Space between items */
    align-items: center; /* Align items vertically */
    background-color: black;
    background-image: url('bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    height: 20vh;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    
}


h1 {
    margin-right: 40px; /* Margin on the right side */
    margin-left: 40px;
    color: white;
    font-size: 60px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 1.5; /* Increase the line spacing */
}


/* Additional styles for buttons if needed */
button {
    padding: 10px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px; 
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-left: 200px;
    text-align: center;
    
}
select {
    padding: 5px; /* Padding around the select box */
    font-size: 14px; /* Font size of the select box */
    border-radius: 5px; /* Rounded corners */
    width: 130px; /* Width of the select box */
    color: white; /* Text color */
    text-align: center;
    background-color: transparent;
    margin: 0 10px; /* Add margin to the left and right */
    text-align-last: center;
    display: inline-block;
}
option {
    font-size: 14px; /* Font size of options */
    padding: 8px; /* Padding around options */
    color: black;
    text-align: center;
    background-color: #f7f7f7; /* Background color of options */
    appearance: none;
    
    
}


h2 {
    margin-top: 500px;
    color: #ffffff; /* Change the font color to a darker shade */
    font-size: 40px;
    text-align: center;
    line-height: 1.5; /* Increase the line spacing */
}


/* Additional styles for buttons if needed */
.buttons {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    margin-bottom: 20px; /* Add space below the buttons */
}

.buttons button {
    padding: 10px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px; /* Add margin to the left and right */
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}
select {
    .buttons {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    margin-bottom: 20px; /* Add space below the buttons */
    margin-right: 10px; /* Add margin to the right */
    margin-bottom: 20px; /* Add space below the select */
}

.buttons button {
    padding: 10px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px; /* Add margin to the left and right */
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}
    padding: 5px; /* Padding around the select box */
    font-size: 14px; /* Font size of the select box */
    border-radius: 5px; /* Rounded corners */
    width: 130px; /* Width of the select box */
    color: white; /* Text color */
    text-align: center;
    background-color: transparent;
    text-align-last: center;
}
option {
    font-size: 14px; /* Font size of options */
    padding: 8px; /* Padding around options */
    color: black;
    text-align: center;
    background-color: #f7f7f7; /* Background color of options */
    appearance: none;
    
    
}


h2 {
    margin-top: 500px;
    margin-left: 300px;
    color: #ffffff; /* Change the font color to a darker shade */
    font-size: 40px;
    text-align: center;
    line-height: 1.5; /* Increase the line spacing */
}

p {
    margin-left: 300px;
    color: #ffffff; /* Change the font color to a darker shade */
    text-align: center;
    font-size: 30px;

    line-height: 1; /* Increase the line spacing */
}


