<div class="header-container">
<div class="header_navbar">
    <a href="/home">
        <img src="/images/logo.png" class="logo">
    </a>
    <ul>
        {{#if userId}}
            <li><a href="/joinNow">Buy Membership</a></li>
        {{else}}
            <li><a href="/login">Join Now</a></li>
        {{/if}}
        <li><a href="/about_classes">Gym Benefits</a></li>
        {{!-- Needs to be removed or changed to something elese /memberships doesn't exist anymore --}}
        {{!-- <li><a href="/memberships">Memberships</a></li> --}}
        <li><a href="/home/#contact_form">Contact</a></li>
        {{#if userId}}
            <li><a href="/logout">Logout</a></li>
            <li><a href="/account_page">Account</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
        {{/if}}
        {{#if userId}}
            <li><a href="/book">Book</a></li>
        {{/if}}

    </ul>
</div>
</div>
