<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_login.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    
    <title>Login</title>
</head>

<body>
    <a href="/views/partials/newhome.html">
        <img src="/public/images/logo.png" class="logo">
    </a>
    <div class="wrapper">
        <form action ="">
            <h1>Login</h1>
            <div class="input-box">
                <input type ="text" placeholder="Username" required>
                <box-icon name="user" type="solid" ></box-icon>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" required>
                <box-icon name="lock-alt" ></box-icon>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Don't have an account? <a 
                href="/views/partials/createAccount.html">Register.</a></p>
            </div>
        </form>
    </div>
</body>

</html>