<div class="banner">
    <a href="/">
        <img src="/images/logo.png" class="logo">
    </a>

    <div class="header">
        <h2>
            We offer something for everybody
        </h2>
    </div>  

    <div class="services">

        <div class="service">
            <a href="/memberships">
                <h3>
                    Pilates
                </h3>
            </a>
            
        </div>

        <div class="service">
            <a href="/memberships">
                <h3>
                    Yoga
                </h3>
            </a>
            
        </div>
        
        <div class="service">
            <a href="/memberships">
                <h3>
                    Weigthlifting
                </h3>
            </a>
            
        </div>

        <div class="service">
            <a href="/about_classes">
                <h3>
                    Crossfit
                </h3>
            </a>
            
        </div>

    </div>

    <button class="learn_more" onclick="loadAnotherFile()">
        <span>
            Learn More
        </span>
        <script>
            function loadAnotherFile() {
                
                window.location.href = "/views/partials/about_classes.html";
            }
        </script>
    </button>
</div>