.env
node_modules/
package-lock.json
package.json
test.html
data/schema.jpeg
data/schema.json
data/fill_db.sql
test.mjs
test_better.mjs
gym_chain_new.db
gym_chain1.db
data/program1.txt
data/diagram_final.erdm
data/schema_final.json
