.env
node_modules/
package-lock.json
package.json
test.html
data/schema.jpeg
data/schema.json
data/fill_db.sql
test.mjs
test_better.mjs
gym_chain_new.db
gym_chain1.db
data/program1.txt
data/diagram_final.erdm
data/schema_final.json
views/aboutPage.hbs
views/admin_home.hbs
views/adminHome.hbs
views/availableHours.hbs
views/boook.hbs
views/coontact.hbs
Report/phase_1_powerpoint.pptx
Report/diagram_first_draft.erdm
controllers/misc.mjs
model/misc_.mjs
routes/misc__.js
Report/~$gantt_chart.xlsx
Report/~$Final_presentation.pptx
