

body {
    background: rgb(13, 77, 39);
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

#boxes {
    display: flex;
    margin: 10% auto;
    width: 75%;
    height: 280px;
    text-align: center;
}

#leftbox {
    border-radius: 25px;
    justify-content: flex-start;
    background: rgb(255, 255, 255);
    width: 25%;
    height: 100%;
}

#middlebox {
    float: center;
    background: rgb(255, 255, 255);
    width: 25%;
    height: 100%;
}

#rightbox {
    float: flex-end;
    background: rgb(255, 255, 255);
    width: 25%;
    height: 100%;
}

