
:root
{
	font-size: 12px;
}
body {
    background: #5f7252;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    border-color: #f8f8f8;
    border-radius: 15px;
    border: 2px solid #f8f8f8;
    font-family: Inter, sans-serif;
    display: inline-block;
    padding: 5px;
    border: 2px solid #f8f8f8;
}

#boxes {
    display: flex;
    margin: 10% auto;
    width: 75%;
    height: 280px;
    text-align: center;
}
.box {
    border-radius: 25px;
    background: rgb(255, 255, 255);
    width: 300px;
    height: 400px;
    margin: 0 5px;
    justify-content: center; 
    align-items: center; 
 
    
}

.type_of_membership {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-align: center;
}

.price {
    font-family: Inter, sans-serif;
    color: #5f7252;
    font-size: 2.3125rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: -3px;
}

.perks {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-align: center;
}


ul {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-align: center;
    list-style-type: "✅";
}

.description {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-align: center;
    opacity: 0.5;
}

.free-trial {
    padding: .5rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    background-color: #000000;
    color: #f8f8f8;
    font-size: .875rem;
    font-weight: 600;
    text-align: center;
}

.per_month{
    color:rgb(0, 0, 0);
    font-size: 1.125em;
    letter-spacing: -1px;
}


h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -.1rem;
}

.perk {
    display: flex;
    align-items: center;
}