<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymLAB</title>
    <link rel="stylesheet" href="/css/style.css">
    <body>
        {{> header }}   <!-- This is where the header will be injected -->
        <div class="main-content">
            {{{ body }}}    <!-- This is where the content of the page will be injected -->
        </div>
        {{> footer }}   <!-- This is where the footer will be injected -->
    </body>
</html>