<div class="services-placeholder">
<div class = "title">
  <h1>About our Classes</h1>
</div>

  <div class="services-info">
    <div class="about-image-container">
      <a href="/memberships">
        <h3>Pilates</h3>
      </a>
    </div>
    <div class="content_info">
      <div class="description">
        <p>Pilates improves core strength, flexibility, posture, muscle tone, stress relief, injury prevention, and athletic performance.</p>
      </div>
      <div class="perks">
        <div class="perk">
          <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg" loading="lazy" alt="" class="feature-check_image" />
          <p>1 Hour Sessions</p>
        </div>
        <div class="perk">
          <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg" loading="lazy" alt="" class="feature-check_image" />
          <p>Placeholder text</p>
        </div>
        <div class="perk">
          <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg" loading="lazy" alt="" class="feature-check_image" />
          <p>Placeholder text</p>
        </div>
      </div>
    </div>
  </div>

  <div class="services-info">
    <div class="about-image-container">
      <a href="/memberships">
        <h3>Yoga</h3>
      </a>
    </div>
    <div class="content_info">
      <div class="description">
        <p>Yoga improves flexibility, strength, balance, posture, stress relief, injury prevention, and athletic performance.</p>
      </div>
      <div class="perks">
        <div class="perk">
          <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg" loading="lazy" alt="" class="feature-check_image" />
          <p>1 Hour Sessions</p>
        </div>
        <div class="perk">
          <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg" loading="lazy" alt="" class="feature-check_image" />
          <p>Placeholder text</p>
        </div>
        <div class="perk">
          <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg" loading="lazy" alt="" class="feature-check_image" />
          <p>Placeholder text</p>
        </div>
      </div>
    </div>
  </div>

  <div class="services-info">
    <div class="about-image-container">
      <a href="/memberships">
        <h3>Crossfit</h3>
      </a>
    </div>
    <div class="content_info">
      <div class="description">
        <p>Crossfit improves strength, conditioning, cardiovascular endurance, flexibility, and overall fitness performance.</p>
      </div>
      <div class="perks">
        <div class="perk">
          <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg" loading="lazy" alt="" class="feature-check_image" />
          <p>1 Hour Sessions</p>
        </div>
        <div class="perk">
          <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg" loading="lazy" alt="" class="feature-check_image" />
          <p>Placeholder text</p>
        </div>
        <div class="perk">
          <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg" loading="lazy" alt="" class="feature-check_image" />
          <p>Placeholder text</p>
        </div>
      </div>
    </div>
  </div>

  <div class="services-info">
    <div class="about-image-container">
      <a href="/memberships">
        <h3>Weightlifting</h3>
      </a>
    </div>
    <div class="content_info">
      <div class="description">
        <p>Weightlifting improves muscle strength, bone density, metabolic rate, and overall physical performance.</p>
      </div>
      <div class="perks">
        <div class="perk">
          <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg" loading="lazy" alt="" class="feature-check_image" />
          <p>1 Hour Sessions</p>
        </div>
        <div class="perk">
          <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg" loading="lazy" alt="" class="feature-check_image" />
          <p>Placeholder text</p>
        </div>
        <div class="perk">
          <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg" loading="lazy" alt="" class="feature-check_image" />
          <p>Placeholder text</p>
        </div>
      </div>
    </div>
  </div>
</div>
