<div class="services-placeholder">
  <div class="classes-title">
    <h1>MORE THAN A WORKOUT</h1>
  </div>
  <div class="classes-subtitle-container">
    <div class="classes-subtitle">
      <h1>FITNESS CLASSES AT GymLAB ARE EXPERIENCES, CREATED, AND DEVELOPED BY THE INDUSTRY'S BEST MINDS BRINGING
        RESULTS THROUGH INNOVATION.</h1>
    </div>
  </div>

  <div class="services-info">
    <div class="content_info">
      <div class="info-class-description" style="text-align: left; padding-left: 5%; padding-top: 5%;">
        <p>WEIGHTLIFTING IMPROVES MUSCLE STRENGTH, BONE DENSITY, METABOLIC RATE, AND OVERALL PHYSICAL PERFORMANCE.</p>
      </div>
      <div class="perks">
        <div class="perk" style="text-align: left; padding-left: 5%;">
          <img
            src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
            loading="lazy" alt="" class="feature-check_image" />
          <p> 1 HOUR SESSIONS.</p>
        </div>
        <div class="perk" style="text-align: left; padding-left: 5%;">
          <img
            src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
            loading="lazy" alt="" class="feature-check_image" />
          <p>300 TO 400 CALORIES BURNED.</p>
        </div>
        <div class="perk" style="text-align: left; padding-left: 5%;">
          <img
            src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
            loading="lazy" alt="" class="feature-check_image" />
          <p>CERTIFIED DXA AND DEXA SCAN INCLUDED.</p>
        </div>
      </div>
    </div>
    <div class="about-image-container">
      <a href="/memberships">
      </a>
    </div>
    
  </div>

  <div class="services-info">
    <div class="about-image-container">
      <a href="/memberships">
      </a>
    </div>
    <div class="content_info">
      <div class="info-class-description" style="text-align: left; padding-left: 45%; padding-top: 5%;">
        <p>CROSSFIT IMPROVES STRENGTH, CONDITIONING, CARDIOVASCULAR ENDURANCE, FLEXIBILITY, AND OVERALL FITNESS
          PERFORMANCE.</p>
      </div>
      <div class="perks" style="text-align: right; padding-left: 25%">
        <div class="perk">
          <img
            src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
            loading="lazy" alt="" class="feature-check_image" />
          <p>1 HOUR SESSION.</p>
        </div>
        <div class="perk">
          <img
            src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
            loading="lazy" alt="" class="feature-check_image" />
          <p>500 TO 700 CALORIES BURNED.</p>
        </div>
        <div class="perk">
          <img
            src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
            loading="lazy" alt="" class="feature-check_image" />
          <p>CERTFIED DXA AND DEXA SCAN INCLUDED.</p>
        </div>
      </div>

    </div>

  </div>

  <div class="services-info">
    <div class="content_info">
      <div class="info-class-description" style="text-align: left; padding-left: 5%; padding-top: 5%;">
        <p>YOGA IMPROVES FLEXIBILITY, STRENGTH, BALANCE, POSTURE, STRESS RELIEF, INJURY PREVENTION, AND ATHLETIC
          PERFORMANCE.</p>
      </div>
      <div class="perks">
        <div class="perk" style="text-align: left; padding-left: 5%;">
          <img
            src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
            loading="lazy" alt="" class="feature-check_image" />
          <p>1 HOUR SESSIONS.</p>
        </div>
        <div class="perk" style="text-align: left; padding-left: 5%;">
          <img
            src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
            loading="lazy" alt="" class="feature-check_image" />
          <p>200 TO 300 CALORIES BURNED.</p>
        </div>
        <div class="perk" style="text-align: left; padding-left: 5%;">
          <img
            src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
            loading="lazy" alt="" class="feature-check_image" />
          <p>BEGGINER FRIENDLY.</p>
        </div>
      </div>
    </div>
    <div class="about-image-container">
      <a href="/memberships">
      </a>
    </div>
  </div>

  <div class="services-info">
    <div class="about-image-container">
      <a href="/memberships">
      </a>
    </div>
    <div class="content_info">
      <div class="info-class-description" style="text-align: left; padding-left: 45%; padding-top: 5%;">
          <p>PILATES IMPROVES CORE STRENGTH, FLEXIBILITY, POSTURE, MUSCLE TONE, STRESS RELIEF, INJURY PREVENTION, AND
          ATHLETIC PERFORMANCE.</p>      
      </div>
      <div class="perks" style="text-align: right; padding-left: 25%">
        <div class="perk">
          <img
            src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
            loading="lazy" alt="" class="feature-check_image" />
          <p>1 HOUR SESSIONS.</p>
        </div>
        <div class="perk">
          <img
            src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
            loading="lazy" alt="" class="feature-check_image" />
          <p>300 TO 500 CALORIES BURNED.</p>
        </div>
        <div class="perk">
          <img
            src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
            loading="lazy" alt="" class="feature-check_image" />
          <p>ADJUSTABLE INTENSITY FOR EVERY MEMBER.</p>
        </div>
      </div>
    </div>
  </div>
</div>