<div class="service">
        <div class="content_info">
          <div class="header">
            <h1>Yoga</h1>
          </div>

          <div class="description">
            <p>
              Placeholder text
            </p>
          </div>

          <div class="perks">
            <div>
              <div class="perk">
                <img
                  src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                  loading="lazy"
                  alt=""
                  class="feature-check_image"
                />
                <p>Placeholder text</p>
              </div>
            </div>
            <div class="perk">
              <img
                src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                loading="lazy"
                alt=""
                class="feature-check_image"
              />
              <p>Placeholder text</p>
            </div>
            <div>
              <div class="perk">
                <img
                  src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                  loading="lazy"
                  alt=""
                  class="feature-check_image"
                />
                <p>Placeholder text</p>
              </div>
            </div>
          </div>
        </div>

        <div class="image_info">
          <img src="/public/images/yoga1.jpg" class="image" />
        </div>
      </div>

    <div class="service">
        <div class="content_info">
          <div class="header">
            <h1>Pilates</h1>
          </div>

          <div class="description">
            <p>
                Placeholder text
            </p>
          </div>

          <div class="perks">
            <div>
              <div class="perk">
                <img
                  src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                  loading="lazy"
                  alt=""
                  class="feature-check_image"
                />
                <p>Placeholder text</p>
              </div>
            </div>
            <div class="perk">
              <img
                src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                loading="lazy"
                alt=""
                class="feature-check_image"
              />
              <p>Placeholder text</p>
            </div>
            <div>
              <div class="perk">
                <img
                  src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                  loading="lazy"
                  alt=""
                  class="feature-check_image"
                />
                <p>Placeholder text</p>
              </div>
            </div>
          </div>
        </div>

        <div class="image_info">
          <img src="/public/images/pilates1.jpg" class="image" />
        </div>
      </div>

    <div class="service">
        <div class="content_info">
          <div class="header">
            <h1>Weightlifting</h1>
          </div>

          <div class="description">
            <p>
                Placeholder text
            </p>
          </div>

          <div class="perks">
            <div>
              <div class="perk">
                <img
                  src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                  loading="lazy"
                  alt=""
                  class="feature-check_image"
                />
                <p>Placeholder text</p>
              </div>
            </div>
            <div class="perk">
              <img
                src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                loading="lazy"
                alt=""
                class="feature-check_image"
              />
              <p>Placeholder text</p>
            </div>
            <div>
              <div class="perk">
                <img
                  src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                  loading="lazy"
                  alt=""
                  class="feature-check_image"
                />
                <p>Placeholder text</p>
              </div>
            </div>
          </div>
        </div>

        <div class="image_info">
          <img src="/public/images/weigthlifting1.jpg" class="image" />
        </div>
      </div>

    <div class="service">
        <div class="content_info">
          <div class="header">
            <h1>Crossfit</h1>
          </div>

          <div class="description">
            <p>Get fit while having fun with our group CrossFit classes</p>
          </div>

          <div class="perks">
            <div>
              <div class="perk">
                <img
                  src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                  loading="lazy"
                  alt=""
                  class="feature-check_image"
                />
                <p>Placeholder text</p>
              </div>
            </div>
            <div class="perk">
              <img
                src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                loading="lazy"
                alt=""
                class="feature-check_image"
              />
              <p>Placeholder text</p>
            </div>
            <div>
              <div class="perk">
                <img
                  src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                  loading="lazy"
                  alt=""
                  class="feature-check_image"
                />
                <p>Placeholder text</p>
              </div>
            </div>
          </div>
        </div>

        <div class="image_info">
          <img src="/public/images/ropes1.jpg" class="image" />
        </div>
      </div>