
{{#with customerInfo}}
    <h1 style="color: white">
        Account Page
    </h1>
    <p style="color: white">
        Name: {{fname}} {{lname}}
    </p>
{{/with}}

{{^customerInfo}}
    <h1 style="color: white">
        Account Page
    </h1>
    <p style="color: white">
        Please log in to view your account information.
    </p>
{{/customerInfo}}
