<div class="homepage_contents">
    <class="homepage_content">
        <h1>Admin Home</h1>
        <h1>Welcome to the admin home page</h1>
        <div class="anim_button">"MODIFY WEEKLY SCHEDULE"<span></span></div>
        <div class="anim_button">"VIEW MESSAGES"<span></span></div>
</class>
</class>
</div>
