<div class="available-hours-placeholder">
    <div class="available-hours-title">
        <h1>AVAILABLE HOURS FOR YOGA</h1>
    </div>
    <div class="available-hours-container">
        <div class="available-hours-upper-container">
            <div class="available-hours-upper-title">
                <h1>DATE</h1>
            </div>
            <div class="available-hours-buttons-container">
                <button class="available-hours-button"><span></span>MONDAY</button>
                <button class="available-hours-button"><span></span>TUESDAY</button>
                <button class="available-hours-button"><span></span>WEDNESDAY</button>
                <button class="available-hours-button"><span></span>THURSDAY</button>
                <button class="available-hours-button"><span></span>FRIDAY</button>
                <button class="available-hours-button"><span></span>SATURDAY</button>
                <button class="available-hours-button"><span></span>SUNDAY</button>
            </div>
        </div>
        <div class="available-hours-lower-container">
            <h1>SEARCH TIME</h>
            <input type="time" name="time" id="time" />
            <button class="anim_button" onclick="window.location.href='/book'"><span></span>SEARCH</button>
        </div>
    </div>
</div>