<div class="book-placeholder">
    <div class="book-title">
        <h1>MAKE A BOOKING</h1>
    </div>
    <div class="book-form-container">
        <div class="book-upper-container">
            <div class="book-upper-title">
                <h1>CLASS</h1>
            </div>
            {{!-- EACH --> analoga me to id_membership pou antistoixei me ton customer (aka to class pou exei dialeksei o customer ) KAI DEN EINAI WEIGHTLIFTING --}}
            <div class="book-buttons-container">
                <button class="book-button"><span></span>YOGA</button>
                <button class="book-button"><span></span>PILATES</button>
                <button class="book-button"><span></span>CROSSFIT</button>
            </div>
        </div>
        <div class="book-upper-container2">
            <div class="book-upper-title">
                <h1>CLUB</h1>
            </div>
            {{!-- EACH --> analoga me to id_membership pou antistoixei me ton customer (aka to class pou exei dialeksei o customer ) KAI DEN EINAI WEIGHTLIFTING --}}
            <div class="book-buttons-container2">
                <button class="book-button2"><span></span>ATHENS</button>
                <button class="book-button2"><span></span>PATRAS</button>
                <button class="book-button2"><span></span>KARPENISI</button>
            </div>
        </div>
        <div class="book-lower-container">
            <h1>SEARCH DATE</h>
            <input type="date" name="date" id="date" />
            <button class="anim_button" onclick="window.location.href='/available_hours'"><span></span>SEARCH</button>
        </div>
    </div>
</div>