<div class="extend-membership-placeholder">
    <div class="extend-membership-title">
        <h1>YOU ALREADY HAVE AN ACTIVE MEMBERSHIP FOR ... THAT EXPIRES ON ... </h1> <!-- EDO THA MPEI TO CLASS POU EXEI DIALEKSEI O CUSTOMER -->
    </div>
    <div class="extend-membership-form-container">
        <div class="anim_button">EXTEND MEMBERSHIP FOR ANOTHER ... MONTHS<span></span></div>
        <div class="anim_button">GO HOME<span></span>
    </div>
    </div>
</div>