<div class="homepage_content">
    <h1>Get Fit</h1>
    <p>Join us and get fit with our professional trainers.</p>
    <div>
        <button class="anim_button" onclick="window.location.href='/joinNow'"><span></span>Join Now</button>
        <button class="anim_button" onclick="window.location.href='/about_classes'"><span></span>Learn More</button>
    </div>
</div>

<div class="about">
    <div class="about_info">
        <h2>Our Mission</h2>
        <p>To provide affordable, accessible, and private fitness spaces close to home for the everyday person.</p>
    </div>

    <div class="about_info">
        <h2>Our Vision</h2>
        <p>To build a community that is motivated and enabled to make fitness a habitual choice, at their own pace, time, and personal comfort.</p>
    </div>
    
</div>

<div class="about">
    <div class="about_info">
    </div>
    <div class="about_info">
        <p>We are Omar and Sarah, the founders of MyGymLab. Both working professionals of several decades, we know first hand the stresses and demands of modern working life in Singapore.</p>
        <p>Over the years, we tried many ways to squeeze fitness into our busy lives, but found ourselves hitting many roadblocks.</p>
        <p>From the high costs of gym memberships, to feeling intimidated on the gym floor, and not having enough time, we felt there were so many ways the gym experience could be better. More accessible, affordable, and private — for the everyday person to feel secure and comfortable at the gym.</p>
        <p>This is how MyGymLab was born.</p>
        <p>We are excited to build what we think is the next movement in accessible, modern fitness for all. We hope you will join us.</p>
    </div>
</div> 
{{!-- <div class="contact">
    <p>Feel free to contact us using the information below:</p>
</div> --}}


