<div class="homepage_body">
    <div class="homepage_content">
        <h1>Get Fit</h1>
        <p>Join us and get fit with our professional trainers.</p>
        <div>
            <button class="anim_button" onclick="window.location.href='/joinnow'"><span></span>Join Now</button>
            <button class="anim_button" onclick="window.location.href='/about_page'"><span></span>Learn More</button>
        </div>
    </div>
</div>
