<div class="homepage_contents">
    <div class="homepage_content">
        <h1>GET FIT</h1>
        <p>JOIN US AND GET FIT WITH OUR TRAINERS</p>
        <div>
            {{#if userId}}
                {{#if homeGym}}
                    {{#with homeGym}}
                        <button  class="anim_button" onclick="window.location.href='/services/{{gym_id}}'"><span></span>BUY MEMBERSHIP</button>
                    {{/with}}
                {{else}}
                    <button  class="anim_button" onclick="window.location.href='/joinNow'"><span></span>BUY MEMBERSHIP</button>
                {{/if}}
            {{else}}
                <button name='b1' class="anim_button" onclick="window.location.href='/login'"><span></span>JOIN NOW</button>
            {{/if}}
            <button class="anim_button" onclick="window.location.href='/about_classes'"><span></span>LEARN MORE</button>
        </div>
    </div>
    
    <div class="about" id="contact_form">
        <form class='form-container' action="/home" method="post">
            <h1>Contact</h1>
            <div class="input-box">
                <input type="email" name='email' placeholder="Email" required>
            </div>
            
            <div class="input-box">
                <input  type="text" name='subject' placeholder="Subject" required></input>
            </div>

            <div class="input-box">
                <textarea id='message' type="text" name='message_text' placeholder="Message" required></textarea>
            </div>

            <button type="submit" class="btn" >Submit</button>
        </form>
    </div>
    {{#if message}}
        <div class="message">
            <p style="color:aliceblue">{{message}}</p>
        </div>
    {{/if}}
    
    {{> footer}}

</div>



