{{!-- HOME PAGE --}}
<div class="homepage_contents">
    <div class="homepage_content">
        <h1>GET FIT</h1>
        <p>JOIN US AND GET FIT WITH OUR TRAINERS</p>
        <div>
            {{#if userId}}
                {{#if homeGym}}
                    {{#with homeGym}}
                        <button  class="anim_button" onclick="window.location.href='/services/{{location}}'"><span></span>BUY MEMBERSHIP</button>
                    {{/with}}
                {{else}}
                    <button  class="anim_button" onclick="window.location.href='/joinNow'"><span></span>BUY MEMBERSHIP</button>
                {{/if}}
            {{else}}
                <button name='b1' class="anim_button" onclick="window.location.href='/login'"><span></span>JOIN NOW</button>
            {{/if}}
            <button class="anim_button" onclick="window.location.href='/about_classes'"><span></span>LEARN MORE</button>
        </div>
    </div>
    <div class="home-box">
        <div class="home-info-container">
            <h1>ABOUT US</h1>
            <div class="home-info-p">
                <img src="/images/team.jpg" alt="Gym" style="width: 50%; ">
                <div class="home-info-container-text">
                <p>STARTING IN 2002</p>
                <p>WE WANTED TO CREATE A GYM FOR EVERYONE</p>
                </div>
            </div>
        </div>
    </div>
    <div class="home-info-container">
        <div class="home-info-p" style="justify-content: right;">
            <div class="home-info-container-text">
                <p>WITH TRAINERS</p>
                <p>MAKING ANY WORKOUT A NEW EXPERIENCE</p>
                </div>
            <img src="/images/homepic.jpg" alt="Gym" style="width: 50%; ">
        </div>
    </div>
    
        <div class="home-gyms-title">
            <h1>OUR CLUBS</h1>
        </div>
        <div class="row" style="padding-bottom: 20%;">
        <div class="column">
            <div class="cont-img-container">
                <img src="/images/gym1.jpg" alt="Gym" style="width:100%;">
            </div>
            <div class="content">
            <h3>
                ATHENS
            </h3>
            <p>
                ERMOU, 41
            </p>
            </div>
        </div>
        <div class="column">
            <div class="cont-img-container">
                <img src="/images/gym2.jpg" alt="Gym" style="width:100%;">
            </div>
            <div class="content">
            <h3>
                PATRA
            </h3>
            <p>
                KORINTHOY, 142
            </p>
            </div>
        </div>
        <div class="column">
            <div class="cont-img-container">
                <img src="/images/gym3.jpg" alt="Gym" style="width:100%;">
            </div>
            <div class="content">
            <h3>
                KARPENISI
            </h3>
            <p>
                ZINOPOULOU, 9
            </p>
            </div>
        </div>
    </div>
    
    <div class="about" id="contact_form">
        <form class='form-container' action="/home" method="post">
            <h1>Contact</h1>
            <div class="input-box">
                <input type="email" name='email' placeholder="Email" required>
            </div>
            
            <div class="input-box">
                <input  type="text" name='subject' placeholder="Subject" required></input>
            </div>

            <div class="input-box">
                <textarea id='message' type="text" name='message_text' placeholder="Message" required></textarea>
            </div>

            <button type="submit" class="btn" >Submit</button>
        </form>
    </div>
    {{#if message}}
        <div class="message">
            <p style="color:rgb(255, 255, 255); font-size: 1.5em; text-transform: uppercase; padding-bottom:10%">{{message}}</p>
        </div>
    {{/if}}
    
    

</div>



