<div class="homepage_body">
    <div class="homepage_navbar">
        <a href="/home">
            <img src="/images/logo.png" class="logo">
        </a>
        <ul>
            <li><a href="/services">Gym Benefits</a></li>
            <li><a href="/memberships">Memberships</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
    <div class="homepage_content">
        <h1>Get Fit</h1>
        <p>Join us and get fit with our professional trainers.</p>
        <div>
            <button class="anim_button" onclick="window.location.href='/joinnow'"><span></span>Join Now</button>
            <button class="anim_button" onclick="window.location.href='/about_page'"><span></span>Learn More</button>
        </div>
    </div>
</div>