<div class="homepage_contents">
    <div class="homepage_content">
        <h1>GET FIT</h1>
        <p>JOIN US AND GET FIT WITH OUR TRAINERS</p>
        <div>
            {{#if userId}}
                {{#if homeGym}}
                    {{#with homeGym}}
                        <button  class="anim_button" onclick="window.location.href='/services/{{location}}'"><span></span>BUY MEMBERSHIP</button>
                    {{/with}}
                {{else}}
                    <button  class="anim_button" onclick="window.location.href='/joinNow'"><span></span>BUY MEMBERSHIP</button>
                {{/if}}
            {{else}}
                <button name='b1' class="anim_button" onclick="window.location.href='/login'"><span></span>JOIN NOW</button>
            {{/if}}
            <button class="anim_button" onclick="window.location.href='/about_classes'"><span></span>LEARN MORE</button>
        </div>
    </div>
    <div class="home-box">
        <div class="home-info-container">
            <h1>ABOUT US</h1>
            <div class="home-info-p">
                <img src="/images/team1.jpg" alt="Gym" style="width: 50%; ">
                <div class="home-info-container-text">
                <p>STARTING IN 2002..</p>
                <p>WE WANTED TO CREATE A GYM FOR EVERYONE</p>
                </div>
            </div>
        </div>
    </div>
    <div class="home-info-container">
        <div class="home-info-p" style="justify-content: right;">
            <p>WE OFFER A WIDE RANGE OF SERVICES TO HELP YOU ACHIEVE YOUR FITNESS GOALS. FROM PERSONAL TRAINING TO GROUP CLASSES, WE HAVE SOMETHING 
                FOR EVERYONE. OUR TRAINERS ARE CERTIFIED PROFESSIONALS WHO ARE DEDICATED TO HELPING YOU REACH YOUR FULL POTENTIAL. WHETHER YOU'RE 
                LOOKING TO LOSE WEIGHT, BUILD MUSCLE, OR IMPROVE YOUR OVERALL HEALTH, WE HAVE THE TOOLS AND EXPERTISE TO HELP YOU SUCCEED.</p>
            <img src="/images/homegym.jpg" alt="Gym" style="width: 50%; ">
        </div>
    </div>
    <div class="about" id="contact_form">
        <form class='form-container' action="/home" method="post">
            <h1>Contact</h1>
            <div class="input-box">
                <input type="email" name='email' placeholder="Email" required>
            </div>
            
            <div class="input-box">
                <input  type="text" name='subject' placeholder="Subject" required></input>
            </div>

            <div class="input-box">
                <textarea id='message' type="text" name='message_text' placeholder="Message" required></textarea>
            </div>

            <button type="submit" class="btn" >Submit</button>
        </form>
    </div>
    {{#if message}}
        <div class="message">
            <p style="color:rgb(255, 255, 255); font-size: 1.5em; text-transform: uppercase; padding-bottom:10%">{{message}}</p>
        </div>
    {{/if}}
    
    

</div>



