<h1 class="select_club">SELECT YOUR HOME CLUB</h1>
<div class="row">
  <div class="column">
    <a href="/services" id="athens">
    <div class="cont-img-container">
      <img
        src="/images/gym1.jpg" 
        style="width:100%; cursor: pointer;"
      />
      </div>
    </a>
    <div class="content">
      <h3>ATHENS</h3>
      <p>ERMOU, 41</p>
    </div>
  </div>
  <div class="column">
    <a href="/services" id="patra">
    <div class="cont-img-container">
      <img
        src="/images/gym2.jpg"
        style="width:100%; cursor: pointer; "
      />
      </div>
    </a>
    <div class="content">
      <h3>PATRAS</h3>
      <p>KORINTHOU, 142</p>
    </div>
  </div>
  <div class="column">
    <a href="/services" id="karpenisi">
    <div class="cont-img-container">
      <img
        src="/images/gym3.jpg"
        style="width:100%; cursor: pointer;"
      />
    </a>
    </div>
    <div class="content">
      <h3>KARPENISI</h3>
      <p>ZINOPOULOU, 9</p>
    </div>
  </div>
</div>
<script>

    document.getElementById('athens').addEventListener('click', function(event) {
    const clubId = document.getElementById('athens').id;
    localStorage.setItem('selectedClub', clubId);
    console.log('Selected club:', clubId);
});

document.getElementById('patra').addEventListener('click', function(event) {
    const clubId = document.getElementById('patra').id;
    localStorage.setItem('selectedClub', clubId);
    console.log('Selected club:', clubId);
});

document.getElementById('karpenisi').addEventListener('click', function(event) {
    const clubId = document.getElementById('karpenisi').id;
    localStorage.setItem('selectedClub', clubId);
    console.log('Selected club:', clubId);
});


    
</script>