{{!-- GENERAL PAGE THAT DISPLAYS AN APPROPRIATE MESSAGE AFTER A SPECIFIC ACTION --}}
<h1 style="color:rgb(255, 255, 255); padding-top: 15%; font-size: 3em; text-transform: uppercase;">{{message}}!</h1>
{{#if_eq message 'You have no memberships. Please buy a membership to create a schedule.'}}
    <button type="button" id="buy-membership-button" class="anim_button" onclick="window.location.href='/services/{{homeGym.location}}'"><span></span>BUY MEMBERSHIP</button>
    <button type="button" id="go-home-button" class="anim_button" onclick="window.location.href='/home'"><span></span>GO HOME</button>
{{/if_eq}}