
    <form action="">
        <h1>Payment info</h1>
        <div class="input-box">
            <input type="text" placeholder="First name" required>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Last name" required>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Credit card number" required>

        </div>
        <div class="input-box">
            <input type="password" placeholder="Expiration date" required>

        </div>
        <div class="input-box">
            <input type="email" placeholder="CVV" required>

        </div>
        <div class="remember-forgot">
            <label><input type="checkbox">Remember me.</label>
        </div>
        <button type="submit" class="btn">Submit</button>

        
    </form>
