<form class='personal_form' action="/personal_info/{{gym_id}}/{{class_id}}/{{membership_id}}" method="post">
  <h1>Personal Info</h1>
  <div class="input-box">
    <input onkeydown="return /[a-z]/i.test(event.key)" name="fname" placeholder="First name" required />
    <input
      type="text"
      placeholder="Adress"
      required;
      style="margin-left: 120px;"
      name="address"
    />
  </div>
  <div class="input-box">
    <input onkeydown="return /[a-z]/i.test(event.key)" name="lname" placeholder="Last name" required />
    <input
      type="text"
      placeholder="City"
      required;
      style="margin-left: 120px;"
      name="city"
    />
  </div>
  <div class="input-box">
    <input type="email" name="email" placeholder="Email" required />
    <input
      onkeydown="return /[a-z]/i.test(event.key)"
      placeholder="State"
      required;
      style="margin-left: 120px;"
      name="state"
    />

  </div>
  <div class="input-box">
    <input type="text" name="phone_number" inputmode="numeric" placeholder="Phone number" required />
    <input
      type="text" inputmode="numeric"
      placeholder="Zip Code"
      required;
      style="margin-left: 120px;"
      name="zip_code"
    />

  </div>

  <div class="remember-forgot">
    <label><input type="checkbox" />Remember me.</label>
  </div>
  <button type="submit" class="btn";>Submit</button>
  

</form>