<div class = "homepage_content">
    <div class="benefits_title">
        <h2>
            We offer something for everybody
        </h2>
    </div>  

    <div class="benefits">
        <div class="sevice-title">
            <h3>
                Pilates
            </h3>
        </div>
        <div class="service-description">
            <p>
                Pilates is a form of low-impact exercise that aims to strengthen muscles while improving postural alignment and flexibility. Pilates moves tend to target the core, although the exercises work other areas of your body as well.
            </p>
        </div>
        <div class="service-image">
            <img src="/images/pilates.jpg" alt="Pilates">
        <div>
    </div>

    {{!-- <div class="services">
        <div class="service">
            <a href="/memberships">
                <h3>
                    Pilates
                </h3>
            </a>
            
        </div>

        <div class="service">
            <a href="/memberships">
                <h3>
                    Yoga
                </h3>
            </a>
            
        </div>
        
        <div class="service">
            <a href="/memberships">
                <h3>
                    Weigthlifting
                </h3>
            </a>
            
        </div>

        <div class="service">
            <a href="/about_classes">
                <h3>
                    Crossfit
                </h3>
            </a>
            
        </div>

    </div>

    <button class="learn_more" onclick="loadAnotherFile()">
        <span>
            Learn More
        </span>
        <script>
            function loadAnotherFile() 
            {
                window.location.href = "/about_classes";
            }
        </script>
    </button>
</div> --}}