<div class="classes-title" style="font-size: 1.5em; text-align: center; padding-top:1%; padding-bottom: 0%;">
    <h1>
        WE OFFER SOMETHING FOR EVERYONE
    </h1>
</div>
<div class="services">
    {{#each classes}}
        <div class="service">
            <a href="/memberships/{{../gym_id}}/{{this.class_id}}">
                <h3>
                    {{name}}
                </h3>
            </a>

        </div>
    {{/each}}
</div>
<button class="anim_button" onclick="loadAnotherFile()"><span></span>LEARN MORE</button>
<script>
    function loadAnotherFile() {
        // Load the other HTML file here
        window.location.href = "/about_classes";
    }
</script>
</button>