<div class="title">
    <h2>
        We offer something for everybody
    </h2>
</div>
<div class="services">
    {{#each classes}}
        <div class="service">
            <a href="/memberships/{{../gym.location}}/{{this.name}}">
                <h3>
                    {{this.name}}
                </h3>
            </a>

        </div>
    {{/each}}
</div>
<button class="anim_button" onclick="window.location.href = '/about_classes'"><span></span>LEARN MORE</button>

