{{!-- SERVICES PAGE --}}
<div class="classes-title" style="font-size: 1.5em; text-align: center; padding-top:1%; padding-bottom: 0%;">
    <h1>
        WE OFFER SOMETHING FOR EVERYONE
    </h1>
</div>
<div class="services">
    {{#each classes}}
        <div class="service">
            <a href="/memberships/{{../gym.location}}/{{this.name}}">
                <h3>
                    {{this.name}}
                </h3>
            </a>
        </div>
    {{/each}}
</div>
<button class="anim_button" style="margin-top: 5%;" onclick="window.location.href = '/about_classes'"><span></span>LEARN MORE</button>

