<div class="title">
    <h2>
        We offer something for everybody
    </h2>
</div>

<div class="services">

    <div class="service">
        <a href="/memberships">
            <h3>
                WEIGHTLIFTING
            </h3>
        </a>

    </div>

    <div class="service">
        <a href="/memberships">
            <h3>
                CROSSFIT
            </h3>
        </a>

    </div>

    <div class="service">
        <a href="/memberships">
            <h3>
                YOGA
            </h3>
        </a>

    </div>

    <div class="service">
        <a href="/memberships">
            <h3>
                PILATES
            </h3>
        </a>

    </div>

</div>


<button class="anim_button" onclick="loadAnotherFile()"><span></span>LEARN MORE</button>

<script>
    function loadAnotherFile() {
        // Load the other HTML file here
        window.location.href = "/about_classes";
    }
</script>
</button>