
body {

    display: flex; /* Use flexbox layout for body */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Align items vertically */
    background-image: url('/public/images/create_account.jpg');
    background-size: cover;
    height: 80vh
}


.account-window {
     
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);

}


.account-window h1 {
    text-align: center;
    margin-bottom: 20px;
    
}

.account-window form {
    display: flex;
    flex-direction: column;
}

.account-window label {
    margin-bottom: 10px;
}

.account-window input {
    padding: 5px;
    margin-bottom: 10px;
}

.account-window button {
    padding: 10px;
    background-color: #3f3d3d;
    color: white;
    border: none;
    cursor: pointer;
}

.centered-label {
    margin-top: 20px;
    text-align: center;
}