@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
   font-size: 10px;
}

/* Universal Footer */
.footer {
   text-align: center;
   position: absolute;
   bottom: 10%;
   width: 100%;
   height: 2.5rem; 
   color: #666;
   font-size: 1.5em;
}

body{
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('/images/bg.jpg');
   background-size: cover;
   background-position: center;
}

/* Header */

.header_navbar{
   width: 85%;
   margin: auto;
   padding: 35px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

 .logo{
    width: 150px;
    cursor: pointer;
 }

 .header_navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
 }

 .header_navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
 }

 .header_navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;    
    background-color: #474545;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
 }

 .header_navbar ul li:hover::after{
    width: 100%;
 }

/* Homepage */

 .homepage_content{
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #fff;
 }

 .homepage_content h1{
    font-size: 70px;
    margin-top: 80px;
 }
 
 .homepage_content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 5px;
 }

 .anim_button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #474545;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
 }

.anim_button span{
    background: #474545;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
 }

.anim_button:hover span{
    width: 100%;
 }

/* Forms */

.wrapper{
   width: 420px;
   background: transparent;
   border: 2px solid rgba(225, 225, 225, 0.4);
   backdrop-filter: blur(10px);
   color: #fff;
   border-radius: 10px;
   padding: 30px 40px;
   text-align: center;
}

.wrapper form{
   display: flex;
   flex-direction: column;
}

.wrapper h1{
   font-size: 36px;
   text-align: center;
}

.wrapper .input-box{
   position: relative;
   width: 100%;
   height: 50px;
   margin: 30px 0;
}

.input-box input{
   width: 100%;
   height: 100%;
   background: transparent;
   border: none;
   outline: none;
   border: 2px solid rgba(225, 225, 225, 0.2);
   border-radius: 40px;
   font-size: 16px;
   color: #fff;
   padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
   color: #fff;
   
}

.input-box i{
   position: absolute;
   right: 20px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 20px;
}

.wrapper .remember-forgot{
   display: flex;
   justify-content: space-between;
   font-size: 14px;
   margin: -15px 0 15px;
}

.remember-forgot label input{
   accent-color: #fff;
   margin-right: 3px;
}

.remember-forgot a{
   color: #fff;
   text-decoration: none;
}

.remember-forgot a:hover{
   text-decoration: underline;
}

.wrapper .btn{
   width: 100%;
   height: 45px;
   background: #fff;
   border: none;
   outline: none;
   border-radius: 40px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   font-size: 16px;
   color: black;
   font-weight: 600;
}

.wrapper .register-link{
   font-size: 14px;
   text-align: center;
   margin-top: 20px;
}

.register-link p a{
   color: #fff;
   text-decoration: none;
   font-weight: 600;
}

.register-link p a:hover{
   text-decoration: underline;
}

/* Gym Benefits */

.benefits_title{
   text-align: center;
   color: #ffffff;
   text-align: center;
   font-size: 2em;
   padding-bottom: 100px;
}
