@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
   font-size: 10px;
}

body{
   /* width: 100vw; */
   /* height: 100%; */
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('/images/bg.jpg');
   background-attachment: fixed;
   background-size: contain;
   background-position: center;
}

/* Universal Header */
.header_navbar{
   width: 85vw;
   height: 5vh;
   padding: 35px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

 .logo{
    width: 150px;
    cursor: pointer;
}

 .header_navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

 .header_navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
}

 .header_navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;    
    background-color: #474545;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

 .header_navbar ul li:hover::after{
    width: 100%;
}

 /* Universal content container */
 .main-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

 /* Universal Footer */
 .footer {
   width: 100vw;
   height: 5%;
   text-align: center;
   width: 100%;
   color: #666;
   font-size: 1.5em;
}

/* Homepage */
.homepage_contents{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

 .homepage_content{
   width: 100%;
   text-align: center;
   justify-content: center;
   color: #fff;
}

 .homepage_content h1{
    font-size: 7em;
    margin-top: 10vh;
}
 
 .homepage_content p{
   margin: 20px auto;
   font-weight: 100;
   line-height: 5px;
   font-size: 1.5em;
}

.anim_button {
   width: 200px;
   padding: 15px 0;
   text-align: center;
   margin: 20px 10px;
   border-radius: 25px;
   font-weight: bold;
   border: 2px solid #474545;
   background: transparent;
   color: #fff;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}

.anim_button span{
   background: #474545;
   height: 100%;
   width: 0;
   border-radius: 25px;
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: -1;
   transition: 0.5s;
 }

.anim_button:hover span{
   width: 100%;
 }

.about{
   width: 100vw;
   height: 50vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: #fff;
   margin-top: 10px;
   gap: 50px;
}

.about_info{
   width: 45%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
   border: 2px solid rgba(225, 225, 225, 0.4);
   border-radius: 15px;
}

.about_info h2{
   font-size: 3.6em;
   text-align: center;
}

.about_info p{
   font-size: 1.5em;
   text-align: center;
   width: 70%;
   margin-top: 20px;
}

textarea{
   width: 100%;
   height: 100%;
   background: transparent;
   border: none;
   outline: none;
   border: 2px solid rgba(225, 225, 225, 0.2);
   border-radius: 40px;
   font-size: 1.5em;
   color: #fff;
   justify-content: center;
}

/* Forms */
form{
   background: transparent;
   border: 2px solid rgba(225, 225, 225, 0.4);
   backdrop-filter: blur(10px);
   color: #fff;
   border-radius: 15px;
   width: 30vw;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   padding: 10px 10px 10px 10px;
}

form h1{
   font-size: 3.6em;
   text-align: center;
}

.input-box{
   width: 100%;
   height: 50px;
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;
   justify-content: center;
   gap: 50px;
}

.input-box input{
   width: 90%;
   height: 100%;
   background: transparent;
   border: none;
   outline: none;
   border: 2px solid rgba(225, 225, 225, 0.2);
   border-radius: 40px;
   font-size: 1.5em;
   color: #fff;
   padding-left: 15px
}

.input-box input::placeholder{
   color: #fff;
}

.input-box i{
   position: absolute;
   right: 20px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 20px;
}

.remember-forgot{
   display: flex;
   justify-content: space-between;
   font-size: 1.4em;
}

.remember-forgot label input{
   accent-color: #fff;
}

.remember-forgot a{
   color: #fff;
   text-decoration: none;
}

.remember-forgot a:hover{
   text-decoration: underline;
}

.btn{
   width: 100%;
   height: 45px;
   background: #fff;
   border: none;
   outline: none;
   border-radius: 40px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   font-size: 16px;
   color: black;
   font-weight: 600;
   margin-top: 10px;
   margin-bottom: 10px;
}

.register-link{
   font-size: 14px;
   text-align: center;
}

.register-link p a{
   color: #fff;
   text-decoration: none;
   font-weight: 600;
}

.register-link p a:hover{
   text-decoration: underline;
}

.personal_form{
   width: 50vw;
   justify-content: center;
   
}

.personal_form .input-box{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   gap: 50px;
}

/* Gym Benefits */
.services{
   width:100vw;
   display: flex;
   flex-direction: row;
   margin-left: 50px;
   margin-right: 50px;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
}

.service{
   color: white;
   border-radius: 25px;
   background-color: rgba(58, 58, 58, 0.5);
   padding-top: 50px;
   width: 388px;
   height: 388px;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   justify-content: center; 
   align-items: center;
   text-align: center;
   cursor: pointer;
}

.service:nth-child(1){
   width: 30%;
   background-size: cover;
   background-position: center;
   background-image: linear-gradient(180deg, rgba(95, 114, 82, .2), rgba(95, 114, 82, .75)), url(/images/pilates.png);
}

.service:nth-child(2){
   background-size: cover;
   background-position: center;
   width: 30%;
   background-image: linear-gradient(180deg, rgba(95, 114, 82, .2), rgba(95, 114, 82, .75)), url(/images/yoga.jpg);
}

.service:nth-child(3){
   background-size: cover;
   background-position: center;
   width: 30%;
   background-image: linear-gradient(180deg, rgba(95, 114, 82, .2), rgba(95, 114, 82, .75)), url(/images/weigthlifting.jpg);
}

.service:nth-child(4){
   background-size: cover;
   background-position: center;
   width: 30%;
   background-image: linear-gradient(180deg, rgba(95, 114, 82, .2), rgba(95, 114, 82, .75)), url(/images/crossfit.jpg);
}

.service a {
   color: #ffffff;
   text-decoration: none;
}

.service a:hover {
   text-decoration: underline;
}

.service a h3{
   margin-top: 45%;
   color: #fff;
   font-size: 2rem;
   line-height: 1.2;
   font-weight: 700;
   letter-spacing: -.1rem;;
}

.learn_more{
   margin-top: 60px;
   width: 200px;
   padding: 15px 0;
   text-align: center;  
   justify-content: center;  
   border-radius: 25px;
   font-weight: bold;
   border: 2px solid #474545;
   background: transparent;
   color: #fff;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}

.learn_more span{
   background: #474545;
   height: 100%;
   width: 0;
   border-radius: 25px;
   left: 0;
   bottom: 0;
   z-index: -1;
   transition: 0.5s;
}

.learn_more:hover span{
   width: 100%;
}

/* About Page */
.title{
   text-align: center;
   color: white;
   text-align: center;
   font-size: 1.5em;
   border: 2px solid white;
   border-radius: 1em;
   padding: 10px;
   
}

.meet-trainers{
   color:#ffffff;
   text-align: center;
   font-size: 2em;
}

.info{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 10px;
   color: white;
   text-align: center;
   font-size: 12px;
}

.info > h1{
   font-size: 2em;
   font-weight: bold;
   width: 70%;
   padding-top: 5px;
}

.info > p{
   padding-top: 20px;
   font-size: 1.3em;
   width: 70%;
   margin-bottom: 10px;
}

.trainers{
   padding-top: 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.trainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 100px;
}

.trainer > img{
   cursor: pointer;
   width: 40%;
   flex: 33.3%;
   border-radius: 1em;
}

.trainer h3{
   color: white;
   text-align: center;
   font-size: 2em;
   padding-top: 10px;
}

.trainer p{
   display: block;
   color: #ffffff;
   font-size: 1.5em;
   text-align: center;
   width: 50%;
}


/* Join Now */
.select_club{
   text-align: center;
   font-size: 60px;
   margin-top: 100px;
   margin-bottom: 0px;
   color: #fff;
}

.row {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   position: relative;
}
 
.column {
   padding: 50px;
}

.column img{
   width: 100%;
   display: block;
   margin: auto;
}
 

.content h3{
   margin-top: 10px;
   font-size: 30px;
   text-align: center;
   margin-bottom: 10px;
   color:#fff
}

.content p{
   font-size: 15px;
   margin-top: 1px;
   text-align: center;
   color:#fff
}

/* Memberships */
.boxes {
   margin-top: 30px;
   padding-top: 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.box {
   border-radius: 25px;
   background-color: rgba(58, 58, 58, 0.5);
   padding-top: 50px;
   width: 300px;
   height: 400px;
   margin-left: 50px;
   margin-right: 50px;
   justify-content: center; 
   align-items: center; 
}

.type_of_membership {
   font-size: 1.5em;
   text-align: center;
   color: white;
   font-weight: bold;
}

.pricing_type {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 2rem;
   line-height: 1.2;
   font-weight: 700;
   letter-spacing: -.1rem;
}

.price {
   font-family: Inter, sans-serif;
   color: #5f7252;
   font-size: 2.3125rem;
   font-weight: 700;
   text-align: center;
   letter-spacing: -3px;
}

.per_month{
   color:rgb(255, 255, 255);
   font-size: 1.125em;
   letter-spacing: -1px;
}

.perks {
   font-size: 1.5em;
   color: rgb(255, 255, 255);
   text-align: center;
   margin-top: 1.5em;
}

.perk {
   display: flex;
   align-items: center;
   margin-top: 1em;
   padding-left: 25%;
}

a {
   color: #ffffff;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

.description {
   font-size: 1.5em;
   text-align: center;
   opacity: 0.5;
   margin-top: 1em;
   color: white;
   margin-top: 2.5em;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}

.free-trial{
   width: 200px;
   padding: 15px 0;
   margin: 50px 50px 0 50px;
   border-radius: 25px;
   font-weight: bold;
   border: 2px solid #474545;
   background: transparent;
   color: #fff;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}

.free-trial span{
   background: #474545;
   height: 100%;
   width: 0;
   border-radius: 25px;
   z-index: -1;
   transition: 0.5s;
}

.free-trial:hover span{
   width: 100%;
}

/* About Classes */
.services-placeholder{
   width: 80vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.services-info{
   margin-top: 50px;
   width: 100%;
   height: 70%;
   display: flex;
   flex-direction: row;
}

.about-image-container{
   width: 30vw;
   height: 50vh;
   color: white;
   border-radius: 25px;
   justify-content: center; 
   align-items: center;
   text-align: center;
   cursor: pointer;
}

.about-image-container a {
   color: #ffffff;
   text-decoration: none;
}

.about-image-container a:hover {
   text-decoration: underline;
}

.about-image-container a h3{
   margin-top: 45%;
   color: #fff;
   font-size: 2rem;
   line-height: 1.2;
   font-weight: 700;
   letter-spacing: -.1rem;
}

.content_info{
   display: flex;
   flex-direction: column;
}

.content_info .description p{
   font-size: 2em;
   color: white;
   font-weight: bold;
}

.services-info:nth-child(2) .about-image-container{
   background-size: cover;
   background-position: center;
   background-image: linear-gradient(180deg, rgba(50, 50, 50, 0.431), rgba(50, 50, 50, 0.431)), url(/images/pilates.png);
}

.services-info:nth-child(3) .about-image-container {
   background-size: cover;
   background-position: center;
   background-image: linear-gradient(180deg, rgba(50, 50, 50, 0.431), rgba(50, 50, 50, 0.431)), url(/images/yoga.jpg);
}

.services-info:nth-child(4) .about-image-container {
   background-size: cover;
   background-position: center;
   background-image: linear-gradient(180deg, rgba(50, 50, 50, 0.431), rgba(50, 50, 50, 0.431)), url(/images/crossfit.jpg);
}

.services-info:nth-child(5) .about-image-container {
   background-size: cover;
   background-position: center;
   background-image: linear-gradient(180deg, rgba(50, 50, 50, 0.431), rgba(50, 50, 50, 0.431)), url(/images/login.jpg);
}
