*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

:root{
    font-size: 10px;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('/public/images/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 150px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 40px;
 }

 .service{
    display: flex;
    flex-direction: row;
 }

 .content_info{
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    width: 50%;
    height: 60%;
    padding: 10px;
    border: 2px solid #5f7252;
    border-radius: 2em;
    background-color: rgba(0,0,0,0.5);
 }

 .header{
    
    display: inline-block;
    margin-top: 6%;
    margin-left: 20%;
    color: white;
    font-size: 1.2em;
    border: 2px solid #5f7252;
    border-radius: 2em;
    padding: 10px;
    
 }

 .description p{
    display: flex;
    justify-content: center;

    color:white;
    width: 50%;
    text-align: center;
    
    font-size: 2em;
 }

 .perks {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1.5em;
}

.perk {
    display: flex;
    align-items: center;
    margin-top: 1em;
    padding-left: 25%;
}

 .content_image{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('/papi/css/crossfit.jpg');
    background-size: cover;
    background-position: center;
 }

 .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 175px;
    text-align: center;
    color: #666;
    font-size: 1.5em;
}